<header>
    <nav style="box-shadow: none">
        <div class="container container-header">
            <a href="/" class="{{#if home}} active {{/if}}">Home</a>
            <a href="/saved" class="{{#if home}} active {{/if}}" style="margin-left: 20px;">Saved Auctions</a>
        </div>
    </nav>
</header>